<div class="alert alert-danger alert-dismissible fade show">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Cannot delete this dish!</strong>
  This Dish is used in active menus
</div>
