<div id="sidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/menu">Menu</a>
  <a href="/dish">Dish</a>
  <a href="/ingredient">Ingredient</a>
</div>

<div id="burgerMenu">
  <button class="openbtn" onclick="openNav()">&#9776; </button>
</div>
