<div id="subscription-page">
    <div id="subscription-options">
        {{!-- Subscription options --}}
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">FREE</h5>
                        <p class="card-text"><em>Subscribe for a free trial</em></p>
                        <p class="card-text">
                            Not sure if it is for you?<br>
                            Try this out for 7 days
                        </p>
                        <button class="subscribe btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">1 MONTH</h5>
                        <p class="card-text"><em>Subscribe for a ONE month</em></p>

                        <button class="subscribe btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">1 YEAR</h5>
                        <p class="card-text"><em>Subscribe for a YEAR</em></p>

                        <button class="subscribe btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
