#ingredient {
  padding: 5rem;
}

#ingredient-link {
  text-decoration: none;
}

#ingredient-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem;
}

#warning-body {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: red;
}

#warning-message {
  font-size: small;
  font-weight: 500;
  color: black;
}

.total {
  background-color: bisque;
}

.disappear {
  display: none;
}
